h1 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 2px 2px 2px black;
}
p, li {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
}
html {
  background-color: #87CEFA;
  font-family: 'Poppins', sans-serif;
}
body {
  width: 800px;
  margin: 0 auto;
  background-color: #FFA07A;
  padding: 0 20px 20px 20px;
  border: 2px solid black;
}
img {
  display: block;
  margin: 0 auto;
}