/* General setup */


/* @font-face {
    font-family: "myFont";
    src: url("BungeeSpice-Regular.ttf");
  }
@font-face {
    font-family: "myFont2";
    src: url("AbyssinicaSIL-Regular.ttf");
    font-weight: normal;
  } */

html {
    font-size: 10px;
    margin: 0;
    font-family: sans-serif;
  }
  
  body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Typography */
  
  h1 {
    font-size: 3rem;
    font-family: myFont;
    font-family: 'Bungee Spice', cursive;
  }
  
  h2 {
    font-size: 2.4rem;
    font-family: 'Bungee Spice', cursive;
}

p {
    font-size: 1.4rem;
    line-height: 1.6;
    word-spacing: 0.6rem;
    font-family: 'Abyssinica SIL', serif;
  }

