html {
    background-color: rgb(59, 139, 59);
    font-size: 20px;
    color: rgb(235, 224, 224);
  }
  
  ul {
    background: rgb(206, 53, 53);
    padding: 10px;
    border: 1px solid black;
  }
  
  li {
    margin-left: 20px;
  }